* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Versión para móvil */

header {
    height: 40px;
    background-color: lawngreen;
}

main>section{
    text-align: center;
}



nav {
    background-color: lightcoral;
    height: 50px;

    
}

nav>a {
    display: inline;
    width: 100%;
    height: 10px;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    border-bottom: 30px;
}

nav>a>img {
    top: 20px;
    height: 40%;

    
}



nav>a>span {
    color: black;
    height: 10px;
    border-radius: 15px;
    border-width: 1px;
    display: inline
}

aside {
    background-color: lightcoral;
    height: 30px;
}

aside>a {
    
    display: inline;
    text-decoration: none;
}

aside>a>img {
    height: 80%;
    margin-top: 5px;
    margin-left: 55px;
}

aside>a>p {
    display: none;
}

aside>a>span {
    
    display: none;
}

header>img{
    display: none;
}

footer {
    display: none;
}

main {
    background-color: khaki;
    min-height: calc(100vh - 150px);
}

main>section {
    margin: 5px;
    background-color: lightskyblue;
    height: 600px;
}

aside {
    background-color: lavender;
    min-height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#fame1{
    width: 100%;
}

#fame2{
    width: 100%;
}


/* Versión para tablet */

@media (min-width: 480px) {
    aside {
        top: 50px;
        width: 20%;
        height: 80%;
        position: fixed;
        min-height: calc(157vh - 5px);
    }
    aside>a {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 7%;
        text-decoration: none;
        border: solid;
        border-radius: 1px;
        border-radius: 20px;
    }

    aside>a>img {
        
        height: 50px;
    }
    aside>a>span {
        text-align: center;
        display: block;
    }
    header {
        top: 50px;
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
    }

    header>h1{
        position: absolute;
        left: 15%;
    }

    header>img{
        display: inline;
        margin-left: 5px;
        position: absolute;
        width: 10%;
        height: 50px;
    }
    nav {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 45px;
    }
    nav>a {
        display: inline;
        width: 100%;
        height: 20px;
        text-decoration: none;
        border: solid;
        border-width: 1px;
        border-radius: 20px;
        border-bottom: 30px;
        margin-left: 25px;
    }
    
    nav>a>img {
        top: 20px;
        height: 60%;
    
        
    }
    
    nav>a>span {
        margin-left: 30px;
        color: black;
        height: 10px;
        border-radius: 15px;
        border-width: 1px;
        display: inline
        
    }
    main {
        top: 100px;
        width: 80%;
        position: absolute;
        left: 20%;
        min-height: calc(100vh - 0px);
    }
    section>audio{
        width: 90%;
    }
    section>video{
        width: 100%;
        height: 130px;
    }
    .section1 {
        max-width: calc(100vh - 30%);
        left: 0;
        width: 50%;
        min-height: calc(100vh - 700px);
        border-style: solid;
    }
    .section2 {
        position: relative;
        left: 0;
        width: 50%;
        min-height: calc(100vh - 460px);
        border-style: solid;
    }
    .section3 {
        top: 0px;
        position: absolute;
        left: 51%;
        width: 47%;
        min-height: calc(100vh - 660px);
        border-style: solid;
    }
}

@media (min-width: 800px) {
    aside {
        top: 50px;
        width: 20%;
        height: 80%;
        position: fixed;
        min-height: calc(100vh - 50px);
    }
    aside>a {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 10%;
        text-decoration: none;
        border: solid;
        border-radius: 1px;
        border-radius: 20px;
    }

    aside>a>img {
        
        height: 40px;
    }
    aside>a>span {
        text-align: center;
        display: block;
    }
    header {
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
    }
    footer {
        background-color: darkorange;
        display: block;
        z-index: 1;
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
        bottom: 0;
    }
    main {
        top: 100px;
        width: 80%;
        position: absolute;
        left: 20%;
        min-height: calc(100vh - 100px);
    }
    .section1 {
        max-width: calc(100vh - 30%);
        position: absolute;
        left: 0;
        width: 30%;
        min-height: calc(100vh - 160px);
        border-style: solid;
    }
    .section2 {
        position: absolute;
        left: 31%;
        width: 35%;
        min-height: calc(100vh - 160px);
        border-style: solid;
    }
    .section3 {
        position: absolute;
        left: 67%;
        width: 31%;
        min-height: calc(100vh - 160px);
        border-style: solid;
    }
    main>section>video{
        height: 30%;
    }

    nav{
        position: fixed;
    }

    nav>a{
        border: solid;
        border-width: 1x;
        margin-left: 50px;
    }
    footer{
        text-align: end;
    }
}