*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Versión para móvil */

header{
    height: 40px;
    background-color: lawngreen;
}

nav{
    background-color: lightcoral;
    height: 30px;
}

nav > a {
    display: inline-block;
    width: 20%;
    height: 90%;
    margin-left: 15px;
}

nav > a > img {
    height: 80%;
}

nav > a > p{
    display: none;
}

footer{
    display: none;
}

main{
    background-color: khaki;
    min-height: calc(100vh - 100px);
}

main > section{
    margin: 5px;
    background-color: lightskyblue;
    height: 300px;
}


aside{
    background-color: lavender;
    min-height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
}


/* Versión para tablet */

@media (min-width: 480px){
    aside{
        position: absolute;
        width: 20vh;
        height: 90%;
        min-height: calc(100vh - 45px);
    }

    nav{
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 45px;
    }

    header{
        top: 50px;
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
    }

    main{
        z-index: 1;
    }

    main > section{
        left: 80%;
        min-height: calc(100vh - 20px -45px);
    }
}
@media (min-width: 800px){
    aside{
        top: 50px;
        width: 20%;
        height: 80%;
        position: absolute;
        min-height: calc(100vh - 50px);
    }


    header{
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
    }

    footer{
        background-color: darkorange;
        display: block;
        z-index: 1;
        width: 80%;
        height: 50px;
        position: absolute;
        left: 20%;
        bottom: 0;
    }

    main{
        top: 100px;
        width: 80%;
        position: absolute;
        left: 20%;
        min-height: calc(100vh - 100px);
    }


    .section1{
        position: relative;
        left: 0px;
        width: 30%;
        min-height: calc(100vh - 160px);
        border-style: solid;
    }
    .section2{
        bottom: 400px;
        position: fixed;
        left: 36%;
        width: 31%;
        border-style: solid;
    }
    .section3{
        position: relative;
        left: 72%;
        bottom: 1067px;
        width: 31%;
        min-height: calc(100vh - 160px);
        border-style: solid;
    }
}
